server {
    listen {{ nginx_port }};
    server_name {{ ansible_ssh_host }} www.{{ ansible_ssh_host }};
    root /var/www/{{ ansible_ssh_host }};
    index index.html;

    access_log /var/log/nginx/{{ ansible_ssh_host }}_access_log;
    error_log /var/log/nginx/{{ ansible_ssh_host }}_error_log;

    location /health {
        default_type "text/html";
        alias /var/www/{{ ansible_ssh_host }}/health.html;
    }

    location / {
        proxy_redirect     off;
        proxy_set_header   Host             $host;
        proxy_set_header   X-Forwarded-Proto $scheme;
        proxy_set_header   X-Real-IP        $remote_addr;
        proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
    }
    
    location ~* ^.+\.(jpg|jpeg|gif|png|css|zip|tgz|gz|rar|bz2|doc|docx|xls|xlsx|exe|pdf|ppt|tar|wav|bmp|rtf|js)$ {
        expires modified +1w;
    }
}